@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h7> Welcome - Abhishek </h7>
    <br/>
    <h7> Publish Web App ----- Done </h7>
    <br />
    <h7> Continuious Development  --- Done </h7>
    
</div>
